<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add  name="DefaultConnection" connectionString="Database='hotel-app';Data Source='120.25.151.96';User Id='root';Password='qwer1234';charset='utf8';pooling=true;SslMode=none" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>